<h1>Sp Collectors</h1>
<%= link_to "Weather Collector", weathers_path %>
<%= link_to "Air Quality Collector", air_qualities_path %>
<%= link_to "City Bike Collector", bike_stations_path %>
<%= link_to "OlhoVivo Collector", buses_path %>
